<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict>
		<key>com.pushtheworldllc.swipeit.dev.swypeItSmallPack</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>30</integer>
			<key>ConsumableId</key>
			<string>ITCoins</string>
		</dict>
		<key>com.pushtheworldllc.swipeit.dev.swypeItMediumPack</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>200</integer>
			<key>ConsumableId</key>
			<string>ITCoins</string>
		</dict>
		<key>com.pushtheworldllc.swipeit.dev.swypeItLargePack</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>500</integer>
			<key>ConsumableId</key>
			<string>ITCoins</string>
		</dict>
		<key>com.pushtheworldllc.swipeit.dev.swypeItExtraLargePack</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>1500</integer>
			<key>ConsumableId</key>
			<string>ITCoins</string>
		</dict>
	</dict>
	<key>SharedSecret</key>
	<string>81071302c77c458b8547b02e9e057011</string>
</dict>
</plist>
