<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeBeginner1</key>
	<dict>
		<key>help</key>
		<string>Score over the amount of points listed below</string>
		<key>prefix</key>
		<string>Score over</string>
		<key>postfix</key>
		<string>points</string>
		<key>type</key>
		<string>score</string>
		<key>challengeLevels</key>
		<dict>
			<key>level1</key>
			<dict>
				<key>amount</key>
				<integer>250</integer>
				<key>reward</key>
				<string>1</string>
			</dict>
			<key>level2</key>
			<dict>
				<key>amount</key>
				<integer>500</integer>
				<key>reward</key>
				<string>1</string>
			</dict>
			<key>level3</key>
			<dict>
				<key>amount</key>
				<integer>1000</integer>
				<key>reward</key>
				<string>1</string>
			</dict>
		</dict>
	</dict>
	<key>challengeBeginner2</key>
	<dict>
		<key>moveSequence</key>
		<array>
			<string>swype</string>
			<string>swype</string>
		</array>
		<key>help</key>
		<string>Every time one of these sequences are performed you will get credit for it</string>
		<key>prefix</key>
		<string>Do</string>
		<key>postfix</key>
		<string></string>
		<key>type</key>
		<string>moveSequence</string>
		<key>challengeLevels</key>
		<dict>
			<key>level1</key>
			<dict>
				<key>amount</key>
				<integer>10</integer>
				<key>reward</key>
				<string>1</string>
			</dict>
			<key>level2</key>
			<dict>
				<key>amount</key>
				<integer>20</integer>
				<key>reward</key>
				<string>1</string>
			</dict>
			<key>level3</key>
			<dict>
				<key>amount</key>
				<integer>30</integer>
				<key>reward</key>
				<string>1</string>
			</dict>
		</dict>
	</dict>
	<key>challengeBeginner3</key>
	<dict>
		<key>help</key>
		<string>Perform enough of these moves to finish the challenge.</string>
		<key>prefix</key>
		<string>Perform </string>
		<key>postfix</key>
		<string>moves</string>
		<key>type</key>
		<string>move</string>
		<key>move</key>
		<string>swype</string>
		<key>challengeLevels</key>
		<dict>
			<key>level1</key>
			<dict>
				<key>amount</key>
				<integer>50</integer>
				<key>reward</key>
				<string>1</string>
			</dict>
			<key>level2</key>
			<dict>
				<key>amount</key>
				<integer>75</integer>
				<key>reward</key>
				<string>1</string>
			</dict>
			<key>level3</key>
			<dict>
				<key>amount</key>
				<integer>100</integer>
				<key>reward</key>
				<string>1</string>
			</dict>
		</dict>
	</dict>
	<key>challengeBeginnerAll</key>
	<dict>
		<key>completionReward</key>
		<integer>2</integer>
		<key>type</key>
		<string>all</string>
		<key>title</key>
		<string>Beginner</string>
	</dict>
</dict>
</plist>
